---
title: CampsiteJS
description: CampsiteJS transforms static site building into an enjoyable coding adventure, packed with modern tooling out of the box.
body_css: 'homepage'
---
{% extends "base.njk" %}

{% block content %}
<div class="relative overflow-hidden">

  <div aria-hidden="true" class="absolute inset-0 pointer-events-none z-0">
    <div class="hero-blob-1 absolute -top-48 -left-40 w-[750px] h-[750px] rounded-full blur-[80px]" style="background:#381714;opacity:0.95;"></div>
    <div class="hero-blob-2 absolute -top-24 -right-40 w-[700px] h-[700px] rounded-full blur-[80px]" style="background:#431726;opacity:0.95;"></div>
    <div class="hero-blob-3 absolute top-[55vh] -right-20 w-[600px] h-[600px] rounded-full blur-[80px]" style="background:#381714;opacity:0.85;"></div>
  </div>

  <div class="relative z-10">
    {% include "partials/home-hero.njk" %}
    {% include "partials/home-quick-start.njk" %}
    {% include "partials/home-deploy.njk" %}
    {% include "partials/home-features.njk" %}
    {% include "partials/home-install.njk" %}
    {% include "partials/home-cta.njk" %}
  </div>

</div>
{% endblock %}
