<section class="bg-campfire-900 isolate overflow-hidden border-b-campfire-950/50 border-b-4">
  <div class="mx-auto max-w-7xl relative pt-24 lg:py-40 px-0 lg:px-8">
    <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
      <div
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-campfire-900 to-campfire-700 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]">
      </div>
    </div>
    <div class="flex items-center justify-center gap-x-5 lg:gap-x-20 flex-col lg:flex-row">
      <div class="w-full mb-24 lg:mb-0 px-8 lg:px-0">
        <h1 class="text-pretty text-5xl tracking-tight !leading-[1.4em] dark:text-white">Pack <span
            class="underlined">light</span>, Pitch <span class="underlined">fast</span>, and build with <span
            class="underlined">ease</span>.</h1>
        <div class="mt-10 flex items-center gap-x-6">
          <a href="/docs/overview"
            class="rounded-md bg-campfire-500 py-2.5 px-6 text-sm font-semibold text-white hover:text-campfire-600 shadow-sm hover:bg-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-campfire-600 dark:bg-campfire-500 dark:hover:bg-campfire-400 dark:focus-visible:outline-campfire-500 transition ease-in-out">Documentation</a>
          <a href="https://github.com/FoxGroveMedia/CampsiteJS"
            class="text-sm/6 font-semibold text-white hover:underline" target="_blank"
            rel="noopener noreferrer">View on GitHub
            <span aria-hidden="true">→</span></a>
        </div>
      </div>
      <picture>
        <source srcset="https://cdn.foxgrove.media/csjs/screenshot.avif" type="image/avif">
        <source srcset="https://cdn.foxgrove.media/csjs/screenshot.webp" type="image/webp">
        <img src="https://cdn.foxgrove.media/csjs/screenshot.jpg" alt="CampsiteJS Screenshot"
          class="w-full rounded-none lg:rounded-2xl">
      </picture>
    </div>
    <div aria-hidden="true"
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
      <div
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-campfire-900 to-campfire-700 opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]">
      </div>
    </div>
  </div>
</section>